<div class="flex-row j-center" style="flex-wrap: wrap">
  <div>
    <button mat-raised-button color="primary" (click)="incrementar()">
      INCREMENTAR
    </button>
  </div>
  <div>
    <button mat-raised-button color="secondary" (click)="decrementar()">
      DECREMENTAR
    </button>
  </div>
  <div>
    <button mat-raised-button color="danger" (click)="reset()">
      RESET
    </button>
  </div>
  <div>
    <button mat-raised-button color="danger" (click)="addUser()">
      USER
    </button>
  </div>
</div>
